
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body{
background-size:cover ;
}
canvas{
   border: 10px solid rgb(15, 241, 222); 
   box-shadow:20px 20px 20px rgb(105, 54, 247) ;
   margin-top:70px ;
}
body{
   background-size: cover;
}